<p id="notice"><%= notice %></p>

<p>
  <strong>Bloque:</strong>
  <%= @horario.bloque %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @horario.asignatura %>
</p>

<p>
  <strong>Aula:</strong>
  <%= @horario.aula %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
